#header {
  padding: 0.5rem;
  background-color: $gray-lighter-two;
  text-align: center;

  .head {
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .paragraph {
    margin-bottom: 0.5rem;
  }
}