#header {
  padding: 0.5rem;
  background-color: $gray-lighter-two;
  text-align: center;

  .head {
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    font-weight: 300;
  }

  .paragraph {
    margin-bottom: 0.5rem;
  }
}