@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  background-color: $primary-color;
  color: $white;
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;

  @media(min-width: $desktop) {
    font-size: 24px;
  }
}

.app {
  margin-left: auto;
  margin-right: auto;
  background-color: $gray-lighter-one;
  width: 100%;
  max-width: 700px;
}


// utilities ==============================
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $white;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 300;
}

h2 {
  font-size: 1.4rem;
}

p,
li {
  font-size: 0.8rem;
}

.active {
  font-weight: 500;
}

.view {
  min-height: 10vh;
  background-color: $gray-lighter-one;
  padding-bottom: 0.2rem;
}

.paragraph {
  margin: 0.5rem 0;
}

.btn {
  display: block;
  font-size: 0.8rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  min-width: 80px;
  margin: 0.2rem;
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: $gray-darken-one;
  color: $white;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: darken($color: $gray-darken-one, $amount: 5%);
  }
}

.btnOff {
  opacity: 0;
}