$primary-color: #282c34;
$gray-lighter-one:lighten($primary-color, 2%);
$gray-lighter-two: lighten($primary-color, 4%);
$gray-darken-one: darken($primary-color, 2%);
$gray-darken-two: darken($primary-color, 4%);

$desktop: 1024px;